.main_container {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
}
.cart_container {
  width: 100%;
  height: max(60rem, fit-content);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}
