/* 
Author: Shivam Sharma
Role: Frontend Developer
 */

/* Google fonts CDN  */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ###################################################################### */

/* CSS RESET  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-weight: 400;
}
body {
  background-color: var(--background-off-white);
}
/* #################################################################### */

/* Global Style variables  */

:root {
  /* Color Pallete */
  --primary-navy-blue: #2c3e50;
  --secondary-pale-gold: #ffdc50;
  --accent-coral: #ff6f61;
  --neutral-gray: #ecf0f1;
  --background-off-white: #fdfefe;
  --dark-black: rgb(12, 12, 12);
  --desabled-color: rgb(164, 164, 164);

  /* State Color Pallete  */
  --accent-coral-hover: #ed5648;
  --secondary-pale-gold-hover: #f4d03f;
  --primary-navy-blue-hover: #1e2935;

  /* Font Family  */
  --font-primary-head: "Playfair Display", serif;
  --body-font: "Roboto", sans-serif;
  --secondary-font: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

/* Global CSS for layouting  */

:global(.page_container) {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
}

:global(.product_container) {
  width: 100%;
  height: max(60rem, fit-content);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
