.homepage {
  background-color: var(--background-off-white);
  /* background-color: green; */
  position: relative;
}

.main_container {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  
  position: relative;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  color: var(--desabled-gray);
  padding-inline: 2rem;
  font-family: var(--body-font);
  margin-bottom: 1.5rem;
}
.result_text {
  font-size: 1.1rem;
  font-weight: 500;
}
.header > div {
  font-size: 0.8rem;
}
.product_container {
  width: 100%;
  height: max(60rem, fit-content);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
